@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color:#1A1A1A;
    --background-color:#0B1D3A;
    --dark-color:#BFC1C2;
}

html{
    font-size: 62.5%;
    font-family:"Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container{
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1{
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* HEADER */
.container-hero{
    background-color: var(--background-color) ;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i{
    font-size: 3.3rem;
    color: var(--dark-color);
}

.content-customer-support{
    display: flex;
    flex-direction: column;
    color: var(--dark-color);
}

.container-logo{
    display: flex;
    text-align: center;
    gap: 50rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #E1DFF2;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.container-user{
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user{
    font-size: 3rem;
    color: var(--dark-color);
    padding-right: 2.5rem;
    border-right: 1px solid #f5f5f5;

}

.container-user .fa-basket-shopping{
    font-size: 3rem;
    color: var(--dark-color);
    padding-left: 1rem;
}

.content-shopping-cart{
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */
.container-navbar{
    background-color: var(--primary-color);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.navbar .fa-bars{
    display: none;
}

.menu{
    display: flex;
    gap: 2rem;
}

.menu li{
    list-style: none;
}

.btn-1{
    display:inline-block;
    background-color: var(--primary-color);
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.menu a::after{
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #f5f5f5;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all .3s ease;
}

.menu a:hover::after{
    opacity: 1;
}

.menu a:hover{
    color: #f5f5f5;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    border: 2px solid #f5f5f5;
    border-radius: 2rem;
    background-color: #f5f5f5;
    height: 4.4rem;
    overflow: hidden;
}

.search-form input{
    outline: none;
    font-family: inherit;
    border: none;
    width: 25rem;
    font-size: 1.4rem;
    padding: 0 2rem;
    color: #1A1A1A;
    cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
    appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 1rem;
}

.btn-search i{
    font-size: 2rem;
    color: #f5f5f5;
}

/* BANNER */
.banner{
    background-image: url(../imagenes/banner.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 90rem;
}

.content-banner{
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
}

.content-banner p{
    color: var(--primary-color);
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 500;

}

.content-banner h2{
    color: #1A1A1A;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.2;

}

.content-banner a{
    margin-top: 2rem;
    text-decoration: none;
    color: #f5f5f5;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border-radius: 3rem;

}

/* MAIN CONTENT */
.main-content{
    background-color: var(--background-color);
}

 



/* FEATURES */
.container-features{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3rem;
    padding: 3rem 0;
}

.card-features{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    background-color: #f5f5f5;
    border-radius: 1rem;
    padding: 1.5rem 0;
}

.card-features i{
    font-size: 2.7rem;
    color: var(--primary-color);

}

.features-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.features-content span{
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--primary-color);
}

.features-content p{
    color: #1A1A1A;
    font-weight: 500;
}


/* TOP PRODUCTS */
.top-products{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}

.container-options a{
    color: #BFC1C2;
    background-color: #f5f5f5;
    padding: .7rem 3rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    cursor: pointer;
}

.container-options a:hover{
    background-color: var(--primary-color);
    color: #f5f5f5;
}


.container-options spam.active{
     background-color: var(--primary-color);
    color: #f5f5f5;
}

/*products*/

.container-products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}


.cart-product {
  width: 250px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.container-img {
  position: relative;
}

.container-img img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #eee;
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}


.button-group {
  position: absolute;
  top: 10px;
  right: 10px;
}

.heart-icon {
  font-size: 20px;
  color: #16040a;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-group i {
  font-size: 20px;
  color: #ff4081;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-group i:hover {
  transform: scale(1.2);
}

.content-cart-product {
  padding: 15px;
}

.stars i {
  color: gold;
  margin-right: 3px;
}

.content-cart-product h3{
    grid-row: 2/3;
    grid-column: 1/-1;

    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 1rem;
    cursor: pointer;
}


.content-cart-product h3:hover{
    color: var(--primary-color);
}

.add-cart{
    justify-self: start;
    border: 2px solid var(--primary-color);
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s ease;

    display: flex;
    align-items: center;
    justify-content: center;

}

.add-cart:hover{
    background-color: var(--primary-color);

}

.add-cart i{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.add-cart:hover i{
    color: #f5f5f5;
}

.content-cart-product .price{
    justify-self: end;
    align-self: center;

    font-size: 1.7rem;
    font-weight: 600;
}

.content-cart-product .price span{
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: line-through;
    color:#f5f5f5;
    margin-left: .5rem;

}

/* GALLERY */
.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 30rem);
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img-4{
    grid-column: 2/4;
    grid-row: 1/3;
}

/* ESPECIALS */
.specials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}


/* FOOTER */
.footer {
    background-color: var(--primary-color);
}

.container-footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;
}

.menu-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr)30rem;
    gap: 3rem;
    justify-content: center;
}

.title-footer{
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li{
    list-style: none;
    color: #f5f5f5;
    font-size: 1.4rem;
    font-weight: 300;
}

.information ul li a,
.my-account ul li a{
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 300;
}



.social-icons{
    margin-top: 15px;
}

.social-icons a{
     text-decoration: none;
  color: #fff;
  font-size: 28px;
  margin: 0 10px;
  transition: transform 0.3s ease;

}

.social-icons a.instagram:hover {
  color: #e1306c;
  transform: scale(1.2);
}

.social-icons a.youtube:hover {
  color: #ff0000;
  transform: scale(1.2);
}


.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.youtube{
    background-color: #fd1d1d;
}

.content p{
    font-size: 1.4rem;
    color: #f5f5f5;
    font-weight: 300;
}

.content input{
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #f5f5f5;
    cursor: pointer;
    padding: 0.5rem 0 1.2rem;
    color: var(--dark-color);
    display: block;
    margin-bottom: 3rem;
    margin-top: 2rem;
    width: 100%;
    font-family: inherit;
}

.content input::-wedkit-input-placeholder{
    color: #C8B8E3;
}

.content button{
    border: none;
    background-color: #1A1A1A;
    color: #f5f5f5;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 2rem;
    font-size: 1.4rem;
    font-family: inherit;
    cursor: pointer;
    font-weight: 600;
}

.content button:hover{
    background-color: var(--background-color);
    color: var(--dark-color);
}

.copyright{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;

    border-top: 1px solid #C8B8E3;

}

.copyright p{
    font-weight: 400;
    font-size: 2rem;
} 

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}



	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}



	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}

/* CONTACTO */
.body {
    font-family: initial;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #69778d;
    background-image: url(../imagenes/cafelugar.jpg);
    width: 100%;
 }
   


.form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(4, 11, 75, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 400px;
    align-items: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    text-align:left;
}

.form .h2{
    color: #1A1A1A;
    font-size: 35px;
}

.label{
    color: #1A1A1A;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: var(--dark-color);
    border: 4px solid #C8B8E3;
    color: #1A1A1A;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: #f5f5f5;

}

.btn {
    font-size: 16px;
    color: #f5f5f5;
    border: 0;
    border-radius: 25px;
    background-color: #1A1A1A;
    box-shadow: 0 0 20px rgba(20, 29, 56, 0.377);
    cursor: pointer;
}

.btn:hover {
    background-color: #1A1A1A;
}

@media(max-width:991px){
     body {
        padding: 30px;

     } 
     form{
        padding: 50px 30px;
        width: 100%;
     }

     input {
        padding: 15px;
     }
}

/* TERMINOS Y CONDICIONES */
.banner2{
     background-image: url(../imagenes/icon.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40rem;

}
.hero2 {
  padding: 60px 20px;
  text-align: center;
  background-color: var(--background-color);
  font-size: 2rem;
}

.hero h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.terminos h2 {
    font-size: 1rem;
}


.hero p {
  font-size: 4rem;
  color: #000000;
}

.footer2{
     background-color: #0B1D3A;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 2rem;

}

.terminos {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  font-size: 2rem;
}

.terminos h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 10px;
  text-align: center;
}

.terminos .fecha {
  text-align: center;
  font-size: 1rem;
  color: #1A1A1A;
  margin-bottom: 30px;
}

.bloque {
  margin-bottom: 25px;
}

.bloque h3 {
  color: #000000;
  font-size: 2rem;
  margin-bottom: 8px;
}

.bloque p {
  font-size: 2.5rem;
  color: #000000;
}

/* NOSOTROS */
.banner3 {
    background-image: url(../imagenes/icon5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 40rem;
}
.acerca-de-nosotros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px;
  background-color: #fdfaf6;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  gap: 20px;
}

.acerca-de-nosotros .contenido {
  flex: 1;
  min-width: 280px;
}

.acerca-de-nosotros h2 {
  font-size: 4rem;
  text-align: center;
  color: #1A1A1A;
  margin-bottom: 16px;
}

.acerca-de-nosotros p {
  font-size: 2rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 12px;
}

.img2{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 60rem;
}

.footer3{
    background-color: #0B1D3A;
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
  font-size: 2rem;
}


